@font-face {
	font-family: 'OCR A Extended';
	font-weight: 400;
	src: url('../public/fonts/OCRAEXT.TTF');
}

body {
	font-family: 'OCR A Extended';
	font-size: 30px;
	padding-top: 45px;
	padding-left: 100px;
	padding-right: 75px;
}

#logo-link {
	text-decoration: none;
}

#logo {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 3em;
	color: #000;
}

#navigation {
	margin-top: 86px;
	list-style-type: none;
	padding-left: 0;
	line-height: 37px;
}

#navigation a {
	font-family: 'OCR A Extended';
	font-weight: 550;
	font-size: 31px;
	text-decoration: none;
	color: #000;
}

.hamburger {
	display: none;
}

#content {
	margin-top: 85px;
}

.album-list-item {
	margin-bottom: 50px;
	padding-right: 10px;
	width: 100%;
	filter: drop-shadow(7px 7px 5px #000);
}

#about-header {
	font-size: 31px;
}

#about-content {
	font-size: 0.75em;
	line-height: 24px;
	margin-top: 10px;
}

#album-artist-name {
	font-size: 31px;
	line-height: 36px;
}

#album-pic-description {
	margin-top: 25px;
}

#album-content-img {
	width: 100%;
	filter: drop-shadow(7px 7px 5px #000);
}

#album-description {
	margin-left: 30px;
	font-size: 24px;
	line-height: 29px;
}

#contact-header {
	font-size: 31px;
}

#contact-content {
	margin-top: 10px;
	font-size: 0.75em;
	line-height: 25px;
}

#portfolio-header {
	font-size: 31px;
}

#portfolio-content {
	margin-top: 10px;
	font-size: 0.75em;
}

#portfolio-content p {
	margin-bottom: 25px;
}

#process-header {
	font-size: 31px;
}

#process-content {
	font-size: 0.8em;
	margin-top: 10px;
	line-height: 24px;
}

#sources-header {
	font-size: 31px;
}

#sources-content {
	font-size: 0.75em;
	margin-top: 10px;
	line-height: 24px;
}

a {
	text-decoration: none;
	font-weight: 600;
	color: #e64946;
}

a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 500px) {
	#logo {
		font-size: 1.15em;
		display: inline;
	}

	body {
		padding-left: 15px;
		padding-right: 15px;
	}

	#navigation {
		margin-top: 10px;
	}

	#navigation a {
		font-size: 0.9em;
	}

	#content {
		margin-top: 10px;
	}

	.album-list-item {
		margin-bottom: 25px;
		width: 100%;
		filter: drop-shadow(7px 7px 5px #000);
		padding-right: 0px;
	}

	#about-header,
	#process-header,
	#portfolio-header,
	#contact-header,
	#sources-header {
		font-size: 0.9em;
	}

	ul.closed {
		display: none;
		position: absolute;
		text-align: center;
		width: 100%;
		right: 0px;
		top: 50px;
	}

	.hamburger {
		display: flex;
		width: 12%;
		float: right;
	}

	#album-artist-name {
		font-size: 0.85em;
		line-height: 32px;
	}

	#album-pic-description {
		margin-top: 0px;
	}

	#album-description {
		margin-top: 25px;
		margin-left: 0px;
	}
}
